---
layout: default
---

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link href="css/datouwang.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/koala.min.1.5.js"></script>
</head>

<div class="page clearfix" index>
    <div class="left">
        <h1>Welcome to My Zone!</h1>
        <small>业精于勤荒于嬉,行成于思毁于随</small>
        <hr>
		<!-- 代码 开始 -->
		<div id="fsD1" class="focus" style="margin-left:0px;margin-top:0px;">  
			<div id="D1pic1" class="fPic">  
				<div class="fcon" style="display: none;">
					<a target="_blank" href="http://v.youku.com/v_show/id_XMjgyNDEwMjU0OA==.html?spm=a2h0k.8191407.0.0&from=s1.8-1-1.2">
						<img src='http://i2.bvimg.com/639183/ce1e6453a5e06034s.png'>
					</a>
					<span class="shadow"><a target="_blank" href="http://v.youku.com/v_show/id_XMjgyNDEwMjU0OA==.html?spm=a2h0k.8191407.0.0&from=s1.8-1-1.2">毕业电子相册</a></span>
				</div>
				
				<div class="fcon" style="display: none;">
					<a target="_blank" href="https://github.com/zhangquan1995/AdaptiveScreen">
						<img src='http://i4.bvimg.com/639183/29e89fd763c32a2cs.jpg'>
					</a>
					<span class="shadow"><a target="_blank" href="https://github.com/zhangquan1995/AdaptiveScreen">CSS3自适应窗口</a></span>
				</div>
				
				<div class="fcon" style="display: none;">
					<a target="_blank" href="https://github.com/zhangquan1995/QQ_Manager">
						<img src='http://i1.bvimg.com/639183/abd793ee5c4bbef2s.png'>
					</a>
					<span class="shadow"><a target="_blank" href="https://github.com/zhangquan1995/QQ_Manager">QQ manager</a></span>
				</div>
				
				<div class="fcon" style="display: none;">
					<a target="_blank" href="https://github.com/zhangquan1995/LicensePlateRecognition">
						<img src='http://i1.bvimg.com/639183/3aabb548251793b9s.png'>
					</a>
					<span class="shadow"><a target="_blank" href="https://github.com/zhangquan1995/LicensePlateRecognition">车牌识别</a></span>
				</div>    
			</div>
			<div class="fbg">  
			<div class="D1fBt" id="D1fBt">  
				<a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>1</i></a>  
				<a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>2</i></a>  
				<a href="javascript:void(0)" hidefocus="true" target="_self" class="current"><i>3</i></a>  
				<a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>4</i></a>  
			</div>  
			</div>  
			<span class="prev"></span>   
			<span class="next"></span>    
		</div>
		<!-- 简介 -->
		<hr>
		<h1>Brief Introduction</h1>
		<h3>This site belongs to myself individual.</h3>
		<h3>Here is a part of my study and work.</h3>
		<h3>I am passionate about image processing and machine learning.</h3>
		<h3>If you are interested in this, I hope to discuss with you.</h3>
		<!-- end -->
	</div>

    <!-- <button class="anchor"><i class="fa fa-anchor"></i></button> -->
    <div class="right">
        <div class="wrap">
            <div class="side">
                <div>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Recent Posts
                </div>
                <ul class="content-ul" recent>
                    {% for post in site.posts offset: 0 limit: 10  %}
                        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Content -->
            <div class="side ">
                <div>
                    <i class="fa fa-th-list"></i>
                    Categories
                </div>
                <ul class="content-ul" cate>
                    {% for category in site.categories %}
                    <li>
                        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" class="categories-list-item" cate="{{ category | first }}">
                            <span class="name">
                                {{ category | first }}
                            </span>
                            <span class="badge">{{ category | last | size }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <div class="side">
                <div>
                    <i class="fa fa-tags"></i>
                    Tags
                </div>
                <div class="tags-cloud">
                    {% assign first = site.tags.first %}
                    {% assign max = first[1].size %}
                    {% assign min = max %}
                    {% for tag in site.tags offset:1 %}
                      {% if tag[1].size > max %}
                        {% assign max = tag[1].size %}
                      {% elsif tag[1].size < min %}
                        {% assign min = tag[1].size %}
                      {% endif %}
                    {% endfor %}

                    {% if max == min %}
                        {% assign diff = 1 %}
                    {% else %}
                        {% assign diff = max | minus: min %}
                    {% endif %}

                    {% for tag in site.tags %}
                      {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
                      {% assign base = temp | divided_by: 4 %}
                      {% assign remain = temp | modulo: 4 %}
                      {% if remain == 0 %}
                        {% assign size = base | plus: 9 %}
                      {% elsif remain == 1 or remain == 2 %}
                        {% assign size = base | plus: 9 | append: '.5' %}
                      {% else %}
                        {% assign size = base | plus: 10 %}
                      {% endif %}
                      {% if remain == 0 or remain == 1 %}
                        {% assign color = 9 | minus: base %}
                      {% else %}
                        {% assign color = 8 | minus: base %}
                      {% endif %}
                      <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag[0] }}" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
                    {% endfor %}
                </div>
            </div>

            <!-- <div class="side">
                <div>
                    <i class="fa fa-external-link"></i>
                    Links
                </div>
                <ul  class="content-ul">

                </ul>
            </div> -->
        </div>
    </div>
</div>
<!-- <script src="{{ "/js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
<!-- <script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->

<script type="text/javascript">
	Qfast.add('widgets', { path: "js/terminator2.2.min.js", type: "js", requires: ['fx'] });  
	Qfast(false, 'widgets', function () {
		K.tabs({
			id: 'fsD1',   //焦点图包裹id  
			conId: "D1pic1",  //** 大图域包裹id  
			tabId:"D1fBt",  
			tabTn:"a",
			conCn: '.fcon', //** 大图域配置class       
			auto: 1,   //自动播放 1或0
			effect: 'fade',   //效果配置
			eType: 'click', //** 鼠标事件
			pageBt:true,//是否有按钮切换页码
			bns: ['.prev', '.next'],//** 前后按钮配置class                          
			interval: 2000  //** 停顿时间  
		}) 
	})  
</script>
<!-- 代码 结束 -->
