.page[about] {
    .left {
        width: 100%;
        .grid {
            /*margin: 0 auto;*/
            /* clearfix */
            margin-left:auto;
            margin-right:auto;
        }
    }
}
